<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body>

	<header th:replace="navbar :: header"></header>

	<ul class="nav justify-content-center sticky shadow bg-white rounded">
		<li class="nav-item"><a class="nav-link" href="#">Resumen</a></li>
		<li class="nav-item"><a class="nav-link" href="#temporadas">Temporadas</a></li>
	</ul>


	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<!-- 			<div class="container altura-sub-div my-3" style="float: left;" -->
				<!-- 					th:style="'background-image: url(https://image.tmdb.org/t/p/w1400_and_h450_face' + ${seasonDetail.getBackdrop_path()} + '); position: absolute; background-size: 100% 100%;'"> -->
				<!-- 				</div> -->
				<!-- 				<div class="container altura-sub-div my-3" style="float: left;" -->
				<!-- 					th:style="'background-image: url(https://image.tmdb.org/t/p/w1400_and_h450_face' + ${seasonDetail.getBackdrop_path()} + '); background-size: 100% 100%;'"> -->
				<!-- 				</div> -->
				<!-- 				<div class="container my-3 altura-div" style="position: absolute;"> -->
				<div class="container my-3" id="fondo">
					<img class="my-4 rounded img-fluid" id="imagen_detail"
						th:src="'https://image.tmdb.org/t/p/w300' + ${seasonDetail.getPoster_path()}" />

					<div class="py-3">
						<b th:text="${seasonDetail.getName()}" style="font-size: 30px;"></b>

						<div th:if="${session.guest == 'registrado'}" class="dropdown">
							<i style="cursor: pointer" onclick="myFunction()" class="material-icons dropbtn">add_circle_outline</i>
 							<div id="myDropdown" class="dropdown-content">
 							<p class="mx-2" style="color:black;">Añadir a una lista:</p>
 								<a th:each="lists : ${resultList}" href="#" th:onclick="addItemToList([[${lists.id}]], [[${request_token_valid}]]);return false;" th:text="${lists.name}"></a>
 							</div>
						</div>
						

						<div>
							<p th:text="'Puntuación: ' +  ${seasonDetail.getVote_average()}"></p>
						</div>
						<p
							th:text="'Temporadas: ' + ${seasonDetail.getNumber_of_seasons()}"></p>
						<p
							th:text="'Capítulos: ' + ${seasonDetail.getNumber_of_episodes()}"></p>
						<p th:text="${seasonDetail.getOverview()}"></p>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div class="container">
		<div id="temporadas" class="row mx-3">
			<h2>Temporadas</h2>
		</div>
		<div class="row mx-3 my-3 ">

			<ul class="card img2 p-0 shadow bg-white rounded container"
				th:each="info : ${seasonInfo}">
				<a class="prueba"
					th:href="@{/detalle_episodio/{id}/{id_season}(id=${seasonDetail.id},id_season=${info.season_number})}"><li
					id="li"><img class="float-left mr-3" th:if="${info.getPoster_path() != null}"
						th:src="'https://image.tmdb.org/t/p/w130_and_h195_bestv2' + ${info.getPoster_path()}">
						<p class="mx-3" th:text="'Temporada: ' + ${info.season_number}"></p>
						<p class="mx-3"
							th:text="'Número de capítulos: ' + ${info.episode_count}"></p>
						<p th:text="${info.overview}"></p></li></a>
			</ul>


		</div>


	</div>


	<input id="seasonId" type="hidden" th:value="${seasonDetail.id}"
		name="seasonId"></input>

	<script th:inline="javascript" type="text/javascript">
		function addItemToList(listId, request_token_valid) {
			$
					.ajax({
						url : 'https://api.themoviedb.org/4/list/' + listId + '/items',
						type : 'POST',
						dataType : 'json',
						headers : {
							'Authorization' : 'Bearer ' + request_token_valid,
							'Content-Type' : 'application/json'
						},
						data : JSON.stringify({
							items : [ {
								media_type : "tv",
								media_id : $('#seasonId').val()
							} ]
						}),
					});
		}

		/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document
						.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>

</body>
</html>