<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body>

	<header th:replace="navbar :: header"></header>
	
	<ul class="nav justify-content-center sticky shadow bg-white rounded">
		<li class="nav-item"><a class="nav-link prueba" href="#">Editar</a></li>
		<li class="nav-item"><a class="nav-link prueba" th:href="@{'/buscar_media/' + ${editForm.id}}">Añadir/eleminar</a></li>
		<li class="nav-item"><a class="nav-link prueba" th:href="@{'/seleccionar_imagen/' + ${editForm.id}}">Seleccionar imagen</a></li>
		<li class="nav-item"><a class="nav-link prueba" th:href="@{'/borrar/' + ${editForm.id}}" tabindex="-1">Borrar lista</a></li>
	</ul>
	
	<div class="container my-3">
		<form th:action="@{'/edit/' + ${editForm.id}}" method="post" th:object="${editForm}">
			<div class="form-group">
				<label for="nombre">Nombre</label> <input type="text" name="name" th:value="${editForm.name}"
					class="form-control" placeholder="Nombre"/></div>
			<div class="form-group">
				<label for="nombre">Descripción</label> <input type="text" name="description" th:value="${editForm.description}"
					class="form-control" placeholder="Descripción"/></div>
			<div class="form-group">
				<input class="btn btn-success btn-sm" type="submit"
			value="Crear" />
			</div>
		</form>
	</div>



	<footer th:replace="index :: footer"></footer>
</body>
</html>