<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SeriesInfo</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" type="text/css"/>
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

		<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>


	<footer th:fragment="footer">
		<p class="my-5">&copy; Company 2019, Inc. Todos los derechos
			reservados.</p>
	</footer>



</body>
</html>